:root {
	--main-green-color: #598D66;
	--dark-green-color: #376B44;
	--light-green-color: #D4E8D9;
	--ultralight-green-color: #E1EDE6;

	--main-white-color: #F4F6F5;
	--default-white-color: #FFFFFF;

	--main-yellow-color: #EEDB6D;
	--light-yellow-color: #FAEB97;
	--border-yellow-color: #A38314;
	--saturated-yellow-color: #D9B949;


	--main-black-color: #2C2D35;
	--main-grey-color: #86928B;
}